<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="RequestDB"
			 connectionString="Data Source=localhost;Initial Catalog=RequestDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding" maxReceivedMessageSize="65536" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<readerQuotas maxStringContentLength="8192" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="SIT_WPF.RequestService" behaviorConfiguration="serviceBehavior">
				<endpoint address="http://localhost:8733/RequestService/"
						  binding="basicHttpBinding" contract="SIT_WPF.IRequestService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/RequestService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://localhost:8733/RequestService/"
					  binding="basicHttpBinding"
					  bindingConfiguration="basicHttpBinding"
					  contract="SIT_WPF.IRequestService"
					  name="MyServiceEndpoint" />
		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>

