@{
    ViewBag.Title = "Request Submitted";
}

<h2>Your Request has been successfully submitted!</h2>

<p>Thank you for your submission. Please wait while our security team reviews your request.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-success">Back to Home</a>