@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Request Portal</h2>

<p>To submit a request, click the button below.</p>

<a href="@Url.Action("SubmitRequest", "Request")" class="btn btn-primary">Submit Request</a>
